# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\201740233\Project\SpringBoot\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
